<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZ4jbjwYsmCvlexkxNYZ5jB8WqjnuEYSE</string>
	<key>GCM_SENDER_ID</key>
	<string>537507989755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.vinozin</string>
	<key>PROJECT_ID</key>
	<string>vinozin</string>
	<key>STORAGE_BUCKET</key>
	<string>vinozin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537507989755:ios:b6a4b52a6fbad7ed77085e</string>
</dict>
</plist>